extend home.pug
block content
 p I am another content
append homeview
 p I am homview of another
prepend homeview
 p I am prepend homeview of ANother 
prepend foot
 p I am prepend of foot of home from another