*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    color: gray;
}

#changing-text{
    color:#F63854
}

.showcase{
    background-image: linear-gradient(rgba(3, 3, 3, 0.349) , rgb(3, 3, 3)), url("../images/pexels-ella-olsson-1640770.jpg");
    height: 100vh;
    background-size: 100vw;
    background-attachment: fixed;
}

.showcase-content{
    position: absolute;
    top: 30%;
    left: 15%;
}

.showcase-content h1{
    color:white;
    font-size: 400%;
}

.showcase-buttons{
    margin-top: 20px;
    display: flex;
    width: 300px;
    height: 50px;
    justify-content: space-evenly;
}

.navlinks{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    align-items: center;
}

.showcase-ul{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-around;
}

.showcase-li a:hover{
    color: #F63854;
    text-decoration: underline;
}

.showcase-li a{
    text-decoration: none;
    color:white;
    font-size: 22px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F63854;
    color: white;
    height: 50px;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-fade{
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid #F63854;
    color: #F63854;
    height: 50px;
    border-radius: 30px;
    padding: 8px;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-fade:hover{
    transform: scale(1.2);
    background: #F63854;
    color:white;
    
}

.btn:hover{
    transform: scale(1.2);
}

.fixed{
    background: white;
    width: 100%;
    position: fixed;
    z-index: 2;
}

.fixed a{
    color: #F63854;
}

.feature-container{
    padding: 2rem 2rem;
}

.feature-container h2{
    font-size: 250%;
    text-align: center;
}

.all-features{
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 65px;
}

.feature{
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    min-height: 300px;
    width: 30%;
    padding: 20px;
    transition: transform 0.3s;
    transform: scale(0.9);
}

.feature:hover{
    transform: scale(1.05);
}

.feature h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 125%;
}

.icon{
    display: flex;
    margin-bottom: 18px;
    font-size: 35px;
    color: #f63854;
    justify-content: center;
    align-items: center;
}

.feature-para{
    line-height: 180%;
    font-size: 17px;
}

.steps-container{
    background-color: rgb(244, 244, 244);
    padding: 2rem 2rem;
}


.steps-container h2{
    font-size: 250%;
    text-align: center;
}

.all-steps{
    display: flex;
    min-height: 500px;
}

.step-img{
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;
    margin: auto;
}

.step-img img{
    width: 70%;
}

.steps-to-follow{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 20px;
    font-size: 125%;
    word-spacing: 5px;
}

.step{
    display: flex;
    align-items: center;
}

.step-no{
    border: 3px solid #f63854;
    border-radius: 50%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    margin: 10px;
    color: #f63854;
    font-size: 140%;
}

.step-para{
    margin: 30px;
    width: 100%;
}

.reviews-container{
    background-image: linear-gradient(rgba(3, 3, 3, 0.349) , rgb(3, 3, 3)), url("../images/pexels-ella-olsson-1640770.jpg");
    padding: 3rem 2rem 2rem 2rem;
    min-height: 100vh;
    background-size: 100vw;
    background-attachment: fixed;
}

.reviews-container h2{
    font-size: 250%;
    text-align: center;
}

.all-reviews{
    display: flex;
    justify-content: space-evenly;
    margin-top: 65px;
    margin-bottom: 65px;
}

.review{
    box-shadow: 0 10px 22px 10px rgba(27, 38, 49, 0.1);
    min-height: 300px;
    width: 30%;
    padding: 20px;
    transition: transform 0.3s;
    transform: scale(0.9);
    background: lightcyan;
    text-align: center;
}

.review:hover{
    transform: scale(1);
}

.review h3{
    text-align: center;
    margin-bottom: 10px;
    font-size: 170%;
    margin: 15px;
    font-weight: lighter;
    color: black;
}

.review-para{
    line-height: 180%;
    font-size: 17px;
}

.review-stars{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 130%;
}

.star{
    color: #f63854;
}