.footer-container
    .footer-parent
        ul.footer-ul
            li.footer-li
                a(href='') About Us
            li.footer-li
                a(href='') iOS App
            li.footer-li
                a(href='') Android App
        ul.social-links-ul
            li.social-links-li
                a(href='#')
                    i.fab.fa-facebook
            li.social-links-li
                a(href='#')
                    i.fab.fa-twitter-square
            li.social-links-li
                a(href='#')
                    i.fab.fa-instagram
            li.social-links-li
                a(href='#')
                    i.fab.fa-snapchat-square
    p.footer-para Copyright © 2020 EVERYONE. All rights reserved.
