extends base
block header
    .signup-showcase.showcase
        include header
        .login-container
                h2 FOODERIA
                .login-main
                    .input-login
                        .icon-login
                            i.fas.fa-envelope
                        input#login-email(type='email' placeholder='Email' required='')
                    .input-login
                        .icon-login
                            i.fas.fa-lock
                        input#login-password(type='password' placeholder='Password' required='')
                        .show-hide
                            span.show-text SHOW
                    a.forgot-password-login(href='http://localhost:3000/forgotpass') Forgot Password?
                    span#error-message
                    .button-login
                        // <button class="login-btn">Log In</button>
                        input#login-btn(type='submit' value='LOGIN')
                        // <a href="#" class="contact-btn">SEND MESSAGE</a>
                    p.or-login-with Or login with
                    .social
                        .facebook-in
                            i.fab.fa-facebook-f
                            |                         Facebook
                        .google-in
                            i.fab.fa-google
                            |                         Google
                .login-signup
                    p.login-signup-para
                        | Don't have an account?
                        a.login-signup-btn(href='http://localhost:3000/signup') Sign Up 
block scripts
 script(src='./js/login.js')